body {
    font-family: 'Sarabun', sans-serif;
    font-size: 15px;
    line-height: 1.5em;
    background: white;
}

#container {
    width: 90vw;
    margin: 15px auto;
    overflow: auto;
}

p {
    margin: 10px 0;
}

h1 {
    font-size: 3rem;
    font-weight: bold;
    margin: 15px 0;
    line-height: 1.2em;
}

h3 {
    font-size: 1.5rem;
    margin: 10px 0;
}

h4 {
    font-size: 1.25rem;
    margin: 10px 0;
}

strong {
    font-weight: 900;
}

em {
    text-emphasis: style;
}

.flex {
    display: flex;
    flex-direction: column;
}

@media only screen and (min-width: 950px) {
    .flex {
        flex-direction: row;
    }
    #container {
        width: 80vw;
    }
    #col-1 {
        width: 45%;
        padding-right: 30px;
    }
    #col-2 {
        width: 45%;
        margin-top: 40px;
    }
}

/* .clearfix {
    clear: both;
} */

/* Header */ 

#main-header {
    border-bottom: 4px solid #4ea0d8;
}

#logo {
    display: block;
    margin: 0 auto;
}

#main-text {
    text-align: center;
    padding: 20px;
}

/* main content two columns */ 
.content-footer {
    border-top: 1px solid lightgrey;
    margin-bottom: 20px;
    font-size: .85rem;
}

/* Column 1 */
#col-1 {
    width: 90%;
    margin: 0 auto;
}

.points li {
    margin-bottom: 30px;
}
.points img {
    float: left;
    padding-right: 10px;
}
.points h4 {
    padding-top: 5px;
}

/* Column Two */

#col-2 {
    width: 90%;
    margin: 20px auto;
}

/* Contact Form */ 
#content-header {
    border-bottom: 1px solid lightgrey;
    margin-bottom: 20px;
    font-size: .85rem;
}

#contact-form {
    padding: 10px 15px 15px 15px;
    border: 4px solid #4ea0d8;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    overflow: auto;
    background-color: #f4f4f4;
}
#contact-form div {
    margin-bottom: 15px;
}
#contact-form label {
    display: inline-block;
    width: 70px;
    font-weight: bold;
}
#contact-form input {
    border: 2px solid lightgrey;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    height: 20px;
    width: 60%;
}

.button {
    width: 170px;
    margin: 0 auto;
}

#contact-form button {
    padding: 8px 10px;
    width: 120px;
    margin: 0 auto;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    color: white;
    background: #0169b1;
    cursor: pointer;
}
#contact-form button:hover {
    background: #4ea0d8;
}

#contact-form .content-footer {
    font-style: italic;
    width: 70%;
    margin: 0 auto;
    text-align: center;
    color: #666;

}
/* Content Footer */

#testimonial {
    margin: 30px 0;
    padding-top: 30px;
    font-style: italic;
    color: #666;
}
#testimonial img {
    float: left;
    margin-right: 20px;
}

#main-footer {
    border-top: 1px solid lightgrey;
    color: lightgrey;
    text-align: center;
}


@media only screen and (max-width: 950px) {
    .points li {
        background: #eee;
        padding: 8px;
        -webkit-border-radius: 5px;
        -moz-border-radius: 5px;
        border-radius: 5px;
    }
    .points img {
        margin-top: 7px;
    }

    #testimonial {
        margin: 0 0 40px 0;
    }

    #testimonial img {
        display: block;
        float: none;
        margin: 0 auto;
        margin-bottom: 30px;
    }
}

@media only screen and (max-width:400px) {
    h1 {
        font-size: 30px;
    }
}